#working subdirs
obj/*
bin/*

#EmBitz project files
*.depend
*.ebp
*.elay

#OpenOCD configuration
openocd.cfg

#sublime project files
*.sublime-project
*.sublime-workspace

.vscode

# submodules
CMSIS